# data
data/
experiments/
*.csv
*.xlsx
*.json
*.jsonl
*.txt

# embeddings
embeddings/
*.npy

# logs
logs/
*.log

# notebooks
notebooks/
*.ipynb_checkpoints

# pycache
__pycache__/
*.pyc

# environment variables
.env

# virtual environments
.venv/